




<div class="grid-container">
  <div class="grid-item bg_imag ">
    
    
    <img src="assets/images/player-app.png" alt="Music player" /></div>
  <div class="grid-item"><div>
    <h1>Lorem ipsum dolor</h1>
    <small>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </small>
    <small
      >Suspendisse vel leo efficitur, venenatis est ut, tincidunt
      nibh.</small
    >
    <small>Suspendisse lobortis lectus, vel imperdiet ullamcorper.</small>
  </div></div>
  
</div>


<div class="grid-container">
 
  <div class="grid-item ">
    <div>
      <h1>Lorem ipsum dolor</h1>
      <small>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </small>
      <small
        >Suspendisse vel leo efficitur, venenatis est ut, tincidunt
        nibh.</small
      >
      <small>Suspendisse lobortis lectus, vel imperdiet ullamcorper.</small>
    </div>
    </div>


    <div class="grid-item">
      <img src="assets/images/chat-app.png" alt="bg_imag" />


    </div>
  
</div>