

.bg_imag{

  background-image: url("/assets/images/snow-q.png"),
    url("/assets/images/snow-w.png");
  background-repeat: no-repeat, no-repeat;
}

$grid-columns: 2;
$grid-gutter: 20px;

.grid-container {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-gap: $grid-gutter;
  
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media only screen and (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-item {
 
  padding: 20px;
  text-align: center;
  h1 {
  color: #43a9ff;
  font-size: 38px;
  font-weight: 500;
}

small {
  display: block;
  line-height: 2.5em;
  color: #9e9e9ebd;
}
  &:nth-child(odd) {
   
  }
}