<div   class="main-header">
  <ng-container class="main-content">
    <nav class="main-menu">
      <div class="ico-menu">
        <div class="circle">
          <div class="lines">
            <hr />
            <hr />
            <hr />
          </div>
        </div>
      </div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
    <div class="main-logo">
      <div class="logo-circle"></div>
      <div class="logo-title">crios</div>
      <div class="logo-subtitle">free psd template</div>
    </div>
    <div class="main-search">
      <div class="circle">
        <!-- <div class="ico-search"></div> -->

        <img class="ico-search" src="assets/images/search.svg" />
      </div>
    </div>
    <h1>Simple PSD template with cool stuff</h1>
  </ng-container>
</div>

<div class="simple-psd-template">
  <content class="main-content">
    <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <input class="main-button" type="button" value="explore template" />
  </content>
</div>
