<div class="offer">
  <ng-container class="main-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <div class="offer-row">
      <div *ngFor="let item of Images" class="col">
        <img class="ico-col1" [src]="item" />

        <div class="title-col">Lorem ipsum dolor sit amet.</div>
        <p>
          Suspendisse vel leo efficitur,<br />venenatis est ut tincidunt nibh.
        </p>
      </div>
    </div>
    <input class="main-button" type="button" value="check our offer" />
  </ng-container>
</div>
