.modal {
    position: fixed;
    background: #fff;
   
    left: 50%;
    top: 25%;
 padding-inline: 20px;
    bottom: 20%;
    transform: translateX(-50%);
    z-index: 2;
    display: block;
    border-radius: 5px;
    text-align: center;

    .modal-header {

        display: flex;
            align-items: center;
            justify-content: center;
        .logo {
            border: 1px solid #3c3c3c0a;
            border-radius: 50%;
            height: 15rem;
            width: 15rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            // margin: -162px auto 0px;
            margin-top: -142px;
            box-shadow: 0px 0px 38px rgba(255,255,255,0.6);
        }
    }
    
    .modal-body {
        h1{
            color: red;
            font-weight: 700;
            font-size: 30px;
           margin-top:-20px ;
        }
    
        small {
            display: block;
            font-size: 15px;
            color: lightgray;
            margin-bottom: 7px;
        }
    }
    
    .modal-footer {
        button {
            background-color: #e91e55;
            padding: 25px 50px;
            border: 1px solid #e91e55;
            color: #fff;
            border-radius: 5px;
            display: inline-block;
            font-size: 18px;
            margin-top: 40px;
        }
    }
}