/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:"Montserrat";
    src:url("/assets/fonts/Montserrat-Regular.otf") format("opentype");
    font-display:auto;font-style:normal;font-stretch:normal;
    }


    * {
        font-family: 'Montserrat';
      }


      .font-light {
        color: #dadcde;
        font-size: 16px;
        line-height: 36px;
      }