

.bg_imag{

  background-image: url("/assets/images/snow-man.png");
      background-repeat: no-repeat;
      background-position: 0 30px;
      background-size: 100%;
}


$grid-columns: 2;
$grid-gutter: 20px;

.grid-container {
  display: grid;
  background-color: #847d7d14;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-gap: $grid-gutter;
  
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media only screen and (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-item {
  padding: 20px;
  text-align: center;
  &:nth-child(odd) {
   
  }
  small {
    display: block;
    line-height: 2.5em;
    color: #9e9e9ebd;
  }

  .sign {
    margin-top: 50px;
  }

  h1 {
    color: red;
    font-weight: 400;
    font-size: 38px;
  }


}