


<div class="grid-container">
  <div class="grid-item bg_imag ">
    
    
    <img   style="width: 100%;height: 100%;"  src="assets/images/jonny.png" alt="User"  />
  
  </div>
  <div class="grid-item">
    <div>
      <h1>Template is awesome</h1>
      <small>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </small>
      <small
        >Suspendisse vel leo efficitur, venenatis est ut, tincidunt
        nibh.</small
      >
      <small>Suspendisse lobortis lectus, vel imperdiet ullamcorper.</small>

      <div class="sign">
        John Doe
        <small>CEO at Crios.com</small>
      </div>
    </div>

</div>
  
</div>




