
.h1{
	font-size: 38px;
}
.offer {
	margin-top: -240px;
}
.offer .offer-row {
	margin: 95px 0 90px;
}
.offer .col {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 338px;
}
.offer p {
	font-size: 18px;
}
.offer .col .title-col {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 40px;
}
.offer .col p {
	font-size: 14px;
	line-height: 24px;
}

.main-button {
	background-color: #fff;
	border: none;
	border-radius: 35px;
	box-shadow: 0 0 65px #dae4ef;
	color: #43a9ff;
	font-size: 14px;
	height: 51px;
	line-height: 18px;
	padding: 0;
	text-transform: uppercase;
	width: 229px;
}


.offer .main-button {
	margin-bottom: 120px;
}



