<div class="offer">
  <content id="main-content" class="main-content">
    <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <div class="offer-row">
      <div  *ngFor="let item of arrayImages"  class="col">
        <div>  <img  [src]="item" alt="" /></div>
        <div class="title-col">Lorem ipsum dolor sit amet.</div>
        <p class="font-light" >Suspendisse vel leo efficitur,<br>venenatis est ut tincidunt
        nibh.</p>
      </div>
    </div>
    <input class="main-button" type="button" value="check our offer"/>
  </content>
</div>

